@import url("https://fonts.googleapis.com/css?family=Jacques+Francois:400");

.log-in-page {
  align-items: center;
  background-image: url(capstone-1/background.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 296px;
  height: 1117px;
  width: 1728px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.frame-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 1px;
  position: relative;
}

.log-in-5 {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: rgba(243, 200, 200, 1);
  border-radius: 30px;
  height: 42px;
  left: 20px;
  position: absolute;
  top: 121px;
  width: 361px;
}

.log-in-2 {
  background-color: 
#ceb0b0;
  border-radius: 30px;
  height: 42px;
  left: 20px;
  position: absolute;
  top: 246px;
  width: 361px;
}

.log-in-3 {
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7px;
  width: 66px;
}

.log-in-1 {
  background-color: 
#6a5d4d80;
  height: 328px;
  position: relative;
  width: 409px;
}

.password {
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 163px;
  width: 106px;
}

.username {
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 90px;
  width: 106px;
}

.log-in-6 {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
  border-color: rgba(243, 200, 200, 1);
  border-radius: 30px;
  height: 42px;
  left: 20px;
  position: absolute;
  top: 193px;
  width: 361px;
}

.log-in-4 {
  color: rgba(255, 255, 255, 1);
  font-family:  "Jacques Francois";
  font-size: 50px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
}

.overlap-group {
  align-items: center;
  background-color: 
#453d2ab2;
  display: flex;
  height: 99px;
  min-width: 1728px;
  padding: 1px 23px;
}

.log-in {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  min-height: 66px;
  text-align: center;
  width: 128px;
}

.title {
  color: rgba(209, 204, 208, 1);
  font-family: "Jacques Francois";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 10px;
  min-height: 41px;
  text-align: center;
  white-space: nowrap;
  width: 128px;
}

.sign-up {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 11px;
  margin-left: 1252px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 146px;
}